@model IEnumerable<PeopleApplication.Models.ViewModels.GetCityViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewCities</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h3 style="text-align:center">
        @Html.ActionLink("Home", "ShowAllPeople", "Person")
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a asp-action="ViewCities">ViewCities</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a asp-action="AddCity">Add New City</a>
    </h3>
    <hr />
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    City Code
                </th>
                <th>
                    City Name
                </th>
                <th>
                    Country Name
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CtryName)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</body>
</html>
